body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  padding: 20px;
}

.todo__login {
  text-align: right;
}

.todo__body {
  margin: 20px auto;
  padding: 20px;
  width: 500px;
  min-height: 500px;
  border: 3px solid #ccc;
}

.todo__search {
  margin-bottom: 20px;
}

.copyright {
  text-align: center;
}
